<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layOutTest</title>
    <link rel="stylesheet" href="asset/css.css">
</head>

<body>
    <div class="wrap">
        <header id="header">
            <a href="#" class="main_logo ir_so">메인 로고</a>
            <h1>MISTRIUM</h1>
            <div class="menu">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">products</a>
                <a href="#">faqs</a>
                <a href="#">contact us</a>
            </div>
            <div class="header_icon">
                <a href="#" class="ir_pm icon1">검색</a>
                <a href="#" class="ir_pm icon2">장바구니</a>
                <a href="#" class="ir_pm icon3">내정보</a>
            </div>
        </header>
        <main id="main">
            <div id="banner">

                <h2>Modern Furniture For<br>Mordern Living Style</h2>
                <div class="container">
                    <div class="container_left">
                        <p> In unfeeling existence objection immediate repulsive<br>
                            on he in. Imprudence comparison uncommonly me<br>
                            he difficulty diminution resolution. Likewise proposal<br>
                            differed scarcely dwelling as on raillery.
                        </p>
                        <p>
                            September few dependent extremity own continued<br>
                            and ten prevailed attending. Early to weeks we could.<br>
                            Do commanded an shameless we disposing do.<br>
                            Indulgence ten remarkably nor are impression out.<br>
                            Power is lived means oh every in we quiet.
                        </p>
                        <a href="#" class="left">Request a Quote</a>
                        <a href="#" class="right">Watch Video</a>
                    </div>
                    <div class="container_right"></div>

                </div>
                <span>SOME OF OUR TRUSTED CLIENTS</span>
            </div>
            <div class="banner_menu">
                <div class="logo_icon01"></div>
                <div class="logo_icon02"></div>
                <div class="logo_icon03"></div>
                <div class="logo_icon04"></div>
                <div class="logo_icon05"></div>
                <div class="logo_icon06"></div>
            </div>
            <div id="contents">
                <div class="contents01">
                    <div class="cont01_l_img"></div>
                    <div class="cont01_r_img"></div>
                </div>
                <!-- //content01 -->

                <div class="contents02">
                    <div class="container">
                        <h3 class="container-logo">PRODUCTS</h3>
                        <div class="container-menu">
                            <ul>
                                <li><a href="#">Best Selling</a></li>
                                <li><a href="#">Most Popular</a></li>
                            </ul>
                        </div>
                        <div class="btn">
                            <div class="btn_text">See All</div>
                            <div class="btn_arrow"></div>
                        </div>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Bed</a></li>
                            <li><a href="#">Sofa</a></li>
                            <li class="lic000"><a href="#">Chair</a></li>
                            <li><a href="#">Light</a></li>
                        </ul>
                    </div>
                    <div class="img_container01">
                        <div class="img_text01 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Ramen Stool</div>
                            <div class="price">
                                <div class="l-d">$65.00</div>
                                <div class="r-d">$95.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                        <div class="img_text02 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Flexform</div>
                            <div class="price">
                                <div class="l-d">$35.00</div>
                                <div class="r-d">$55.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                        <div class="img_text03 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Porada</div>
                            <div class="price">
                                <div class="l-d">$87.00</div>
                                <div class="r-d">$97.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="img_container02">
                        <div class="img_text01 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Taknion</div>
                            <div class="price">
                                <div class="l-d">$45.00</div>
                                <div class="r-d">$55.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                        <div class="img_text02 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Amora</div>
                            <div class="price">
                                <div class="l-d">$65.00</div>
                                <div class="r-d">$95.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                        <div class="img_text03 box">
                            <div class="cont">
                                <div class="cont_text">Add To Cart</div>
                                <div class="cont_cr">
                                    <div class="cr_img"></div>
                                </div>
                            </div>
                            <div class="name">Liquid Contract</div>
                            <div class="price">
                                <div class="l-d">$35.00</div>
                                <div class="r-d">$45.00</div>
                            </div>
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
                <div class="contents03">
                    <div class="contents03_img"></div>
                    <div class="contents03_text">
                        <h3>Let’s see what our<br>customer’s say</h3>
                        <span>
                            Dwelling and speedily ignorant any steepest.<br>
                            Admiration instrument affronting invitation reasonably<br>
                            up do of prosperous in. Shy saw declared age debating<br>
                            ecstatic man. Call in so want pure rank am dear were.<br>
                            Remarkably to continuing in surrounded diminution on.
                        </span>
                    </div>
                </div>
                <div class="contents04">
                    <div class="contents04_text">
                        <p>Mistrium Interiror</p>
                        <h3>Signup to receive updates<br>about new products</h3>
                        <div class="contents04_list">
                            <ul>
                                <span>
                                    <li class="li01"><a href="#">Your business email ..</a></li>
                                    <li class="li02"><a href="#">Get started </a>
                                        <div class="contnents04_arow"></div>
                                    </li>
                                </span>
                                <li class="li03">
                                    <div class="contnents04-h"></div>
                                    <a href="#">Watch intro video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contents04_img"></div>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer">
                <a href="#" class="main_logo ir_so">메인 로고</a>
                <h3>MISTRIUM</h3>
                <div class="footer-menu">
                    <a href="#">About</a>
                    <a href="#">Product</a>
                    <a href="#">Service</a>
                    <a href="#">Contact</a>
                </div>
                <div class="footer_icon">
                    <a href="#" class="footer_face"></a>
                    <a href="#" class="footer_insta"></a>
                    <a href="#" class="footer_youtube"></a>
                </div>
            </div>
            <div class="footer-end">
                <p href="#" class="end">Copyright © 2021. arshakir.com</p>
            </div>
        </footer>
    </div>
</body>

</html>